{{template "base" .}}


{{define "content"}}
 <div class = "container">
    <div>
        <div class="col">
            <h1>This is home page</h1>
            <p>Thís is some text</p>
            <p>
            {{index .StringMap "test"}}
            </p>
            

            <img src = "../static/images/golang.png" alt="golang" />
        </div>
    </div>
    </div>
{{end}}